extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Brennan Formanek

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |  Im a Full stack JavaScript developer based out of Vancouver, Canada. For the most part im all self taught, I have done some university courses at BCIT to do with operating systems and coding in python.
            |  I started coding about a yeah and a half ago the first language I learned was python and this started me down the rabbit hole of becoming a programmer. Since then i have learned HTML, CSS(SCSS), JavaScript, and have dabbled in a few  
            |  frameworks like Bootstrap, Node.js, and Django.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li Express
          li HTML
          li CSS
          li Node.js 
          li API Development
        h6 Contact Info

        //- Add your own contact info
        ul
          li brennan1086@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://my.indeed.com/p/brennanf-u3toknl') Indeed
        a.button.expanded(href='https://github.com/Lanfear7') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  